[Unit]
Description=evt
After=syslog.target
After=network.target
After=mariadb.service mysqld.service redis.service

[Service]
Type=simple
User=evt
Group=evt
WorkingDirectory=/home/evt/app
ExecStart=/home/evt/app/evt
Restart=always
Environment=USER=evt HOME=/home/evt

[Install]
WantedBy=multi-user.target
