<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>info.evt.web</string>
		<!-- assumes running under 'evt' account -->
		<!-- modify below to reflect your settings -->
		<key>UserName</key>
		<string>evt</string>
		<key>GroupName</key>
		<string>evt</string>
		<key>ProgramArguments</key>
		<array>
			<!-- assumes installed in /Users/evt/app -->
			<!-- modify below to reflect your settings -->
			<string>/Users/evt/app/evt</string>
		</array>
		<key>RunAtLoad</key>
		<true/>
		<key>KeepAlive</key>
		<true/>
		<key>WorkingDirectory</key>
		<string>/Users/evt/app/</string>
		<key>StandardOutPath</key>
		<string>/Users/evt/app/log/stdout.log</string>
		<key>StandardErrorPath</key>
		<string>/Users/evt/app/log/stderr.log</string>
	</dict>
</plist>
